<div class="header">
    <h1>Time-Sheet Management System</h1>
    <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
    <button type="button" class="btn btn-info" (click)="fill()">Fill</button>
    <button type="button" class="btn btn-danger" (click)="logout()">Log out</button>
</div>

<div class="container">
    <!-- errmsg show here -->
    <div *ngIf="msgShow">
      <p class="text-danger">{{ msg }}</p>
    </div>
    <h4 style="margin-top: 20px; text-align: center;">Total {{size ? size : 0}} Filled Timesheets </h4>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Date</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of timesheet" class="table-info">
          <td>{{item.email}}</td>
          <td>{{item.type}}</td>
          <td>{{item.date}}</td>
          <td>{{item.startTime}}</td>
          <td>{{item.endTime}}</td>
          <td>{{item.description}}</td>
          <td style="color: Orange; font-weight: bold;" *ngIf="item.status==='In-Process'" >{{item.status}}</td>
          <td style="color: Green; font-weight: bold;" *ngIf="item.status==='Approved'" >{{item.status}}</td>
          <td style="color: red; font-weight: bold;" *ngIf="item.status==='Rejected'" >{{item.status}}</td>
        </tr>
    </table>
